/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Blink Effect  */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
